<h2>Here's a random number!</h2>
<%= @random_number %>
<div class="new-number-btn">
    <%= link to: topic_path(@conn, :render_random_number), class: "btn-small green" do %>
        <i class="material-icons">new</i>
    <% end %>
</div>